# Ignore node_modules
node_modules/

# Ignore Python virtual environments
venv/
__pycache__/

# Ignore build or dist folders
dist/
build/

# Ignore sensitive files
.env
config/secrets.json

# Ignore OS-specific files
.DS_Store
Thumbs.db